

@media screen and (max-width: 1400px) {
  body {
    width: 96%;
  }
  ul.matches {
    max-width: 100%;
  }

  .prompt .col {
    width: 100%;
    margin-bottom: 10px;
  }

  .prompt .col:first-child {
    width: 100%;
    padding-right: 0%;
  }

  .full-screen img,
  .full-screen .image-wrapper {
    height: auto !important;
    width: 100% !important;
    margin: 0px auto;
  }

  .fullscreen-controls {
    left: 0px;
    bottom: 140px;
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  .fullscreen-controls button {
    width: 20vw;
  }

  .prompts {
    max-height: 100%;
  }

  .info-box {
    left: 40px;
    right: auto;
  }

  .info-box h3 {
    -webkit-line-clamp: 4;
  }
  
  ul.prompt-output.list-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(190px, 190px); 
    grid-auto-flow: dense;
  }

  ul.prompt-output.list-view li {
    height: 190px;
  }

  

.wide-screen ul.prompt-output.list-view {
  grid-auto-rows: minmax(220px, 220px); 
}

.wide-screen ul.prompt-output.list-view li {
  height: 220px;
}

.scroll-top-bar, .scroll-top-bar.show{
  display: none;
}
}

