:root {
  --font-family: Arial, sans-serif;
  --font-size: 15px;
  --line-height: 1.5;
  --color-light: #fff;
  --color-dark: #36393f;
  --color-darker: #2f3136;
  --color-text: #dcddde;
  --color-text-muted: #72767d;
  --color-accent: cyan;
  --color-hover: #b3b3b3;
  --color-border: #4f545c;
  --color-input: #40444b;
  --color-button: #202225;
  --color-button-hover: #3e4147;
  --color-green: lime;
  --color-button-dark: #292b2f;
  --color-blue: dodgerblue;
  --color-link: #00b0f4;
  --color-orange: orange;
  --color-red: red;
  --color-link-hover: #0087c1;
  --spacing: 10px;
  --spacing-lg: 20px;
  --border-radius: 5px;
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--color-text);
  background-color: var(--color-dark);
  width: 56%;
  height: 100%;
  margin: 10px auto 0 auto;
}

a {
  color: var(--color-green);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.user {
  font-size: var(--font-size);
  font-weight: 100;
  background: var(--color-darker);
  padding: 0 var(--spacing);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
}

.modal {
  position: absolute;
  z-index: 2;
}

.title {
  margin: 5px 0;
  font-family: Courier;
}

a {
  color: white;
}

.liked{
    background: pink;
    color: black;
}

img.liked + .liked {
  background-color: red;
}

.prompt.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color-dark);
  margin: 20px 0;
}

.no-wrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}

@media screen and (min-width: 1001px) {

  .topbar{
    position: fixed;
    top: 0;
    left:1%;
    width: 100%;
  }

  .prompt > .row > .col:first-child {
    position: fixed;      
    left: 1%;
    width: 20%;
    top: 16%;
    height: 85vh;
  }
  
  .prompt > .row > .col:nth-child(2) {
    position: absolute;
    width: 71%;
    left: 25%;
    top:1%;
  }
  


}

label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 15px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

textarea {
    font-size: 16px;
}

textarea,
input,
select {
  padding: 10px;
  resize: vertical;
}

textarea,
input,
ul,
select {
  margin: 10px 0;
  box-shadow: none;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  line-height: 2;
}

input[name="maxNum"] {
  padding: 0 0 0 5px;
}

section {
  width: 100%;
  height: auto;
  padding: 0;
  background-color: var(--color-dark);
  margin: 20px 0;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.term-container {
  position: relative;
  overflow: visible;
  display: inline;
}

.fullscreen-controls {
  right: 10px;
  bottom: 40px;
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.fullscreen-controls button {
  outline: 1px solid black;
}

input#term,
input#examples {
  width: 360px;
}

.dropdown {
  position: absolute;
  top: 185%;
  display: block;
  min-width: 382px;
  color: var(--color-dark);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.23);
  background-color: var(--color-darker);
}

.dropdown li {
  border-bottom: 1px solid lightgray;
  background: white;
  border-radius: 0;
  cursor: pointer;
  padding-left: 10px;
}

.dropdown li:hover {
  background: azure;
}

#term {
  padding: 10px;
  margin-right: 20px;
}

.swal2-title {
  text-align: left !important;
}

.swal2-icon {
  display: none !important;
}

.link {
  color: var(--color-link);
  cursor: pointer;
}

.link:hover {
  color: var(--color-link-hover);
}

button {
  padding: var(--spacing) var(--spacing-lg);
  color: var(--color-light);
  border: none;
  cursor: pointer;
  background-color: var(--color-button);
  height: 40px;
}

button:active {
  background-color: var(--color-darker);
}

button.btn-generate {
  background: var(--color-accent);
  color: var(--color-dark);
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}

button.btn-generate:hover {
  background: var(--color-link-hover);
  color: var(--color-dark);
}

button.btn-generate:active {
  background: transparent;
  color: var(--color-dark);
}

.prompt {
  margin-top: 10px;
}

.prompt .col {
  width: 50%;
}

.prompt .col:first-child {
  width: 48%;
  padding-right: 2%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

ul li {
  margin: 2px 0;
}

.test {
  background: red !important;
  color: red !important;
  border: 1px solid red !important;
}

.prompt-text-wrapper {
  padding: 10px;
}

.prompt-text-wrapper h6 {
  margin: 10px 0;
}

.tags-box {
  margin-top: 40px;
}

.tags {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  padding: 0 10px;
  margin-top: 15px;
}

.tags:before {
  content: 'tags:';
}

.tags li {
  text-align: center;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

.tags li:hover {
  color: var(--color-red);
}

.tags li:not(:last-child)::after {
  content: ",";
}

.image-wrapper h3,
.prompt-text,
.info-box h3,
.info-box h5,
.info-box h6 {
  cursor: pointer;
  font-size: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

ul.prompt-output.image-view {
  width:60%;
}

.image-wrapper {
  width: var(--image-width);
}

.btn-scroll-top {
  position: fixed;
  top: 10px;
  right: 10px;
}

.prompt-view-label {
  position: fixed;
  top: 10px;
  right: 100px;
  z-index: 999;

}

ul.prompt-output.list-view .prompt-text,
ul.prompt-output.list-view h6,
ul.prompt-output.list-view button ,
ul.prompt-output.list-view .tags {
  display: none;
}

ul.prompt-output.list-view .processing {
  margin-bottom: 0;
  padding: 0;
  height: 68%;
  margin-top: 34%;
}

ul.prompt-output.list-view .processing .prompt-text {
  display:block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.prompt-output.list-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(200px, 200px); 
  grid-auto-flow: dense;
}

ul.prompt-output.list-view li {
  border-bottom: none;
  height: auto;
}

.top-btn{
  position: fixed;
  z-index: 999;
}

.processing {
  border: 2px solid transparent;
  background-color: var(--color-dark);
  position: relative;
  animation: processing 3s linear infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.processing button {
  display: none;
}

.processing::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background: var(--color-green);
  width: 0;
  animation: progress 8s linear infinite;
}

.processing:hover,
.processing:active {
  border: 2px dashed var(--color-green);
  background-color: var(--color-dark);
}

.wide-screen {
  width: 100% !important;
}

.wide-screen ul.prompt-output.list-view {
  grid-auto-rows: minmax(500px, auto) !important; 
}

.wide-screen ul.prompt-output.list-view li {
  height: 500px;
}

.wide-screen .search {
  margin-top: 50px;
}

ul.prompt-output {
  margin-bottom: 20px;
  padding: 0px 0 60px 0;
}

ul.prompt-output > li {
  width: 100%;
  border-bottom: 1px solid var(--color-light);
  padding: 0px;
  margin-bottom: 40px;
  padding: 20px 0 40px 0;
}

ul.prompt-output > li .row {
  flex-wrap: nowrap;
  padding-bottom: 15px;
  justify-content: space-between;
}

.prompt-output h6 {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 55%;
  overflow: hidden;
  cursor: pointer;
}

ul.prompt-output > li h6:active,
.image-wrapper h3:active,
.prompt-text:active,
.info-box h3:active,
.info-box h5:active {
  color: dodgerblue;
}

ul.prompt-output > div {
  width: 100%;
}

ul.prompt-output button {
  width: 90px;
}

ul.word-types {
  margin-bottom: 100px;
}

ul.word-types li {
  cursor: pointer;
  padding: 13px 6px;
  margin: 2px;
  text-decoration: underline;
  white-space: nowrap;
}

.insert-comma,
.prompt-convert,
.insert-variable {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-light);
  margin: 10px;
  padding: 6px;
  cursor: pointer;
  white-space: nowrap;
}

.button-row {
  width: 30%;
  display: flex;
}

.chips-variables {
  display: flex;
}

.chip {
  border-radius: 15px;
  background: var(--color-orange);
  color: var(--color-darker);
  padding: 3px 12px;
  text-align: center;
  cursor: pointer;
  margin-right: 4px;
}
.chip:hover {
  color: var(--color-light);
}

.insert-comma:active {
  border-color: var(--color-dark);
}

ul.word-types li:hover {
  text-decoration: underline;
}

.word-type-results-title {
  margin-top: 30px;
}

.word-type-results {
  margin: 20px 0;
  border-bottom: 1px solid var(--color-light);
  padding-bottom: 20px;
}

.word-type-results li {
  text-align: center;
  margin: 5px 15px;
  white-space: nowrap;
}

section.images {
  display: block;
  max-height: 50vh;
  overflow-y: auto;
  border-bottom: none;
}

.image-output {
  width: 100%;
}

.image-wrapper {
  width: 98%;
  padding: 0 1%;
}

.image-wrapper img {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.image-wrapper h5 {
  white-space: nowrap;
}

.image-wrapper img:hover {
  border-bottom: var(--color-green);
}

.prompts {
  position: relative;
}

.search input {
  padding: 0;
}

ul.matches {
  overflow-y: auto;
  width: 100%;
  padding-bottom: 1vh;
  justify-content: space-between;
}

ul.matches li {
  font-size: 18px;
  cursor: pointer;
  color: var(--color-light);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 1px;
  padding: 2px 13px;
  text-align: left;
  min-width: 15%;
  flex-grow: 1;
  text-decoration: underline;
}

ul.matches li:hover {
  text-decoration: underline;
}

ul.matches li:active {
  padding-top: 3px;
  padding-bottom: 1px;
}

.sample{
  border-color: var(--color-blue);
}

textarea {
  width: 96%;
  padding: 2%;
}

#multiplier {
  width: 100%;
}

.hidden {
  display: none !important;
}

.space-between {
  justify-content: space-between;
}

#login-form,
#registration-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#login-form button,
#registration-form button {
  width: 90px;
}

.align-right {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.align-top {
  justify-content: flex-start;
}

.donate-btn {
  float: left;
  margin: 20px 0;
}


.scroll-top-bar{
  position: fixed;
  top: 0;
  right: 0;
  width: 132px;
  padding: 1%;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
}

.scroll-top-bar.show {
  transform: translateY(0);
  transition: transform 0.3s;
}

.v-align-center {
  align-items: center;
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-3 {
  width: 30;
}

.col-1 {
  width: 10%;
}

.stats {
  align-items: center;
  margin-top: 10px;
}

.logo {
  width: 100px;
  height: 89px;
}

.loading .message {
  font-size: 22px;
  animation: flash 4s infinite linear;
}

.switch {
  position: relative;
  display: inline-block;
  width: 66px;
  height: 28px;
  margin-bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 7px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-accent);
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

.full-screen {
  position: fixed;
  z-index: 2;
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: var(--color-dark);
}

.full-screen p,
.full-screen h3,
.full-screen h5,
.full-screen h6,
.full-screen .tags,
.full-screen button {
  display: none;
}

.full-screen img,
.full-screen .image-wrapper {
  height: 100%;
  width: auto;
  margin: 0px auto;
}

.full-screen img:hover {
  border-bottom: 1px solid var(--color-dark);
}

.image-size {
  width: 60px;
}

#authWidget {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authForm {
  text-align: center;
}

.authForm input {
  width: 90%;
  margin-bottom: 10px;
}

.authForm button {
  width: 96%;
}

.authForm a {
  display: block;
  margin-top: 10px;
  font-size: 1.5em;
}

.provider-list {
  border-top: 1px solid var(--color-light);
  border-bottom: 1px solid var(--color-light);
  padding: 10px 0;
  margin: 10px 0;
}

.info-box {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 300px;
  color: white;
  cursor: pointer;
  z-index: 4;
}

.info-box h3 {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 18;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightblue;
}

.info-box h6 {
  margin-top: 10px;
}

.bmc-btn {
  min-width: 140px !important;
  height: 60px !important;
  font-size: 24px !important;
  padding: 0px 10px !important;
  line-height: 24px !important;
}



@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes processing {
  0% {
    border-color: green;
    border-style: dotted;
    background-color: var(--color-dark);
  }
  50% {
    border-color: transparent;
    border: 2px dashed #000;
    color: var(--color-accent);
    background-color: var(--color-darker);
  }
  100% {
    border-color: green;
    border-style: dotted;
    background-color: var(--color-dark);
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}